{% extends 'layout.html' %}

{% block titele %}Страница Про Нас{% endblock %}

{% block content  %}
    <div class="features">
        <h1>Книга Кулинарных Рецептов</h1>
        <p>Всем, кто любит увлеченно готовить и вкусно есть, пригодятся кулинарные книги,  раскрывающие секреты поварского мастерства и рассказывающие о самых  аппетитных сочетаниях продуктов.</p>
        <p>Как говорится, мы – это то, что мы едим, а значит, чтобы стать лучше во всем, что мы делаем, стоит начать лучше питаться. В этом помогут рецепты, которые собрали в себе лучшие кулинарные книги. При помощи этих изданий можно научиться готовить сложные блюда и быстрые лёгкие завтраки, полезные диетические перекусы и аппетитные десерты, еду для детей, от которой не будут отказываться даже саамы капризные малыши, напитки, домашние заготовки и многое другое</p>
        <p>Молодым людям, которые начинают жить отдельно от родителей, наверняка пригодится кулинарная книга рецептов для новичков. Родителям, конечно, стоит научить своих сыновей и дочерей готовить что-то сложнее и питательнее сосисок, но если это удалось, то можно как минимум подарить книгу по готовке на новоселье. Так старшему поколению будет спокойнее за здоровье детей. Простые блюда можно довольно быстро приготовить даже в студенческом общежитии, так что дети не останутся голодными.</p>
        <a href="{% url 'home' %}"><button class="btn btn-outline-light btn-lg">Перейти к выбору блюда</button>
    </div>
{% endblock %}
