{% extends 'layout.html' %}


{% block content %}
    <div class="features">
        <h1>Наши рецепты</h1>
    </div>
        <div id="input">
            <input class="myInput" type="text" id="myInput1" onkeyup="name_filter()"
                   placeholder="Поиск по названию.." title="Введите название">
            <input class="myInput" type="text" id="myInput2" onkeyup="ingredient_filter()"
               placeholder="Поиск по ингредиенту.." title="Введите ингредиент">
        </div>
    <div class="features">
        <table id="myTable">
          <tr class="header">
            <th style="width:12%;"><p class="hat">Рецепт</p></th>
            <th style="width:15%;"><p class="hat">Ингредиенты</p></th>
            <th style="width:35%;"><p class="hat">Описание</p></th>
          </tr>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.name }}<br></td>
                <td>{{ recipe.ingredients.all|join:", " }}</td>
                <td>{{ recipe.description }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}